body{
    background:#111;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Poppins;
}

.container{
    background:#000;
    padding:50px;
    border-radius:10px;
    text-align:center;
}

input{
    margin:20px 0;
}

button{
    padding:10px 20px;
    background:#f9a825;
    border:none;
    cursor:pointer;
}
